---
import Page from '@layouts/Page.astro';
import Container from '@components/Container.astro';
---

<Page seo={{ title: '404 Sidan kunde inte hittas' }}>
  <Container>
    <div class="flex min-h-[calc(100vh-16rem)] items-center justify-center">
      <div class="mt-16 text-center">
        <h1 class="text-4xl font-bold lg:text-5xl lg:tracking-tight">404</h1>
        <p class="mt-4 text-lg text-slate-600">Sidan kunde inte hittas.</p>
      </div>
    </div>
  </Container>
</Page>
