---
import Footer from '@components/Footer.astro';
import Navbar from '@components/Navbar.astro';
import Layout from './Base.astro';
import type { Props } from './Base.astro';

export { Props };

const { title } = Astro.props as Props;
---

<Layout title={title}>
  <Navbar slots="header" />
  <div id="page">
    <slot />
  </div>
  <Footer slot="footer" />
</Layout>
